@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Color
$blur_bk:rgba(0,0,0,.5);
$d_red:#2c0404;
$l_red:#3d0b0b;
// Text
$text: #fff;
// Font
$heading:'Noto Sans Display', times, sans-serif;
$body:'Noto Sans Display', times, sans-serif;
// align
$vew_width: 100ch;
$section_padding: 6rem 0;
@mixin button(){
  padding:.25rem 1.25rem;
  margin:1rem;
  font-weight: 500;
  background: rgb(46,34,213);
  background: linear-gradient(90deg, rgba(46,34,213,1) 0%, rgb(175, 13, 8) 100%);
  border-radius: 10px;
  transition: all .5s ease-out;
}
*{
  box-sizing: border-box;
  margin:0; padding:0;
  color:$text;
}
.App{
  position:relative;
  font-family: $heading;
  height: 3000px;
}
.navigation{
  position:fixed;
  top:0px;
  // display:flex;
  // justify-content: center;
  width:100%;
  padding: 1rem 0;
  z-index: 99;

  ul{
    position:sticky;
    z-index: 10;
    margin: 0 auto;
    color: $text;
    max-width:$vew_width;
    display:flex;
    justify-content: space-between;
    align-items: center;
    img.logoImg{
      width:35px; height:auto;
    }
    li{
      list-style-type: none;
      padding:0 1rem;
      font-weight: 500;
      &:hover{
        text-decoration: underline;
      }
      &.title:hover{
        text-decoration: none;
      }
    }
    li.title{
      flex:3;
    }
  }
  a{
    text-decoration: none;
    color:$text;
    &:visited{
      color:$text;
    }
    &:hover{
      color:#fc8536;
    }
  }
}
a.title{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
  font-style: italic;
  img{
    margin-right: .5rem;
  }
  // span{
  //   background: linear-gradient(270deg, rgba(46,34,213,1) 0%, rgb(175, 13, 8) 100%);
  // }
}

div.topSection{
  background: rgb(0, 0, 0);
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  z-index: 1;
  div.videoWrapper{
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    video.videoTop{
      width:100%;
      height:100%;
      object-fit: cover;
      filter:brightness(70%)
    }
  }
  div.topText{
    z-index: 5;
    color:$text;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img{
      width:150px;
      height:auto;
    }
    h1{
      margin-bottom: 2rem;
      font-style: italic;
    }
  }
}
a.button{
  @include button();
  &:hover{
    cursor: pointer;
    background: linear-gradient(270deg, rgba(46,34,213,1) 0%, rgb(175, 13, 8) 100%);
    transition: .5s ease-in-out;
  }
}

div#about{
  width:100%;
  padding: $section_padding;
  background-color: $d_red;
  article.aboutArea{
    margin:0 auto;
    max-width:$vew_width;
    display:flex;
    justify-content: space-between;
    align-items: center;
    img{
      width:300px; height:300px;
      border-radius: 50%;
      margin: 2rem;
    }
    div.aboutText{
      padding:1rem;
      h2{
        font-size: 2rem;
      }
      p{
        margin:1rem 0;
      }
    }
  }
}

div#technologies{
  background-color:$l_red;
  padding: $section_padding;
  div.techWrapper{
    max-width: $vew_width;
    margin:0 auto;
    padding-bottom: 2rem;
    h2{
      font-size: 3rem;
    }
  }
  section{
    max-width: $vew_width;
    margin:0 auto;
    display:flex;
    article{
      margin:0 1rem;
      width:100%;
      height:200px;
      border: 1px solid white;
      text-align: center;
    }
  }
}